@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
body{
    background-color: #1fc2db;
}

.main-container{
    background-image: url(./weather-bg.jpg);
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
    text-align: center;
    padding: 20px;
    margin: 150px 250px;
    height: 500px;

}
#searchbutton{
    width: 100px;
    height: 40px;
    margin-top: 5px;
    cursor: pointer;
}
#search-bar:focus{
    background: white;
    outline: none;
    border-color: blue;
    box-shadow: 0 0 0 0.2rem rgba(0, 47, 255, 0.25);
}
.result{
    margin: 10px 5px;
}
#search-bar{
    border-radius: 10px;
    height: 2rem;
    width: 300px;
}



